



<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div style=" display: table-cell; width:40%;">
        <canvas id="myChart" style="display: block; width: 348px; height: 348px;" width="348" height="348"></canvas>
        </div>
        <div style=" display: table-cell; width:40%;">
        <canvas id="myChart2" style="display: block; width: 348px; height: 348px;" width="348" height="348"></canvas>
        </div>
    </div>
</div>