<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>DataHub</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../assets/favicon.ico">
        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>            
    </head>
    <body>
        

            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                        <div class="panel-body">
                            <div ng-hide="g_forgotpassword_show">
                                <div class="<%= type %>" role="alert"  >
                                        <%= msg %>                         
                                </div>
                                <a href="<%= address %>" role="button" class="btn btn-success center-block" >Go to Login</a>
                             </div>
                        </div>                       
                </div>
            </div>
        </div>
    </body>
</html>




