<!DOCTYPE html>
<html lang="en-us">
    <head>
            <!-- load bootstrap and fontawesome via CDN -->
        

    </head>
    <body>
        <div>
            <h2> <%= name %> <%= lastname %> you required a password recovery.</h2>    
            </b>
            </b>
            <h4>Your passrowd is: <h3><%= password %></h3></h4>
             <a href="http://localhost:8443" > Go to login</a>
        </div>
    </body>

</html>




