<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>DataHub</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../assets/favicon.ico">
        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>            
    </head>
    <body>
        <header>
			
		</header>
        
            Your account is active.            
    
        
    </body>
</html>