<!DOCTYPE html>
<html lang="en-us">
    <head>
        

    </head>
    <body>
        <div>
            <h2> Obrigado <%= name %> <%= lastname %> por se registrar!</h2>    
            </b>
            </b>
            
             <a href="<%= link %>" > Clique aqui para confirmar sua conta.</a>
        </div>
    </body>

</html>




