<div class="container-login">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Password recovery </strong></h3></div>

                <div class="panel-body" ng-show="g_forgotpassword_show">
                    <form ng-submit="submit()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username or Email</label>
                            <input type="email" ng-model="email"  name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>                        
                        <button type="submit" id="submit"  class="btn btn-sm btn-default" >Recovery</button>
                        <a href="#!/logout" role="button" class="btn btn-sm btn-default pull-right" >Back to Login</a>
                    </form>
                </div>

               <div ng-hide="g_forgotpassword_show">
                        <div class="alert alert-success" role="alert"  >
                                Check your e-mail.                               
                        </div>
                        <a href="#!/logout" role="button" class="btn btn-success center-block" >Success</a>
                </div>

                <div ng-show="g_forgotpassword_error">
                     <div class="alert alert-danger" role="alert"  >
                                The e-mail is not valid.
                        </div>

                </div>
                
        </div>
    </div>
</div>


