<div class="container-login">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Password recovery </strong></h3></div>

                <div class="panel-body" ng-hide="g_forgotpassword_success">
                    <form ng-submit="submit()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input ng-disabled="g_forgotpassword_lock_fields" type="email" ng-model="email"  name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>                        
                        <button ng-disabled="g_forgotpassword_lock_fields" type="submit" id="submit"  class="btn btn-sm btn-default" >Recovery</button>
                        <a href="#!/" role="button" class="btn btn-sm btn-default pull-right" >Back to Login</a>
                    </form>
                </div>

               <div ng-show="g_forgotpassword_success">
                        <div class="alert alert-success" role="alert"  >
                                Check your e-mail.                               
                        </div>
                </div>

                <div ng-show="g_forgotpassword_wait" >
                        <div class="alert alert-info" role="alert" ng-model="message">
                                <div>Wait while we check you e-mail.</div>
                        </div>
                         
                </div>

                <div ng-show="g_forgotpassword_error">
                     <div class="alert alert-danger" role="alert"  >
                                <div>{{message}}</div>
                        </div>

                </div>
                
        </div>
    </div>
</div>


