<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>DataHub</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../assets/favicon.ico">
        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>            
    </head>
    <body>
        





        <div class="container-login">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong><%= label %></strong></h3></div>
                <div class="panel-body">
                    

                    <div>
                        <div class="<%= type %>" role="alert"  ng-hide="hide_error">
                                   <%= msg %>  
                        </div>
                         
                    </div>
                    <a href="http://localhost:8443" role="button" class="btn btn-success center-block" >Go to Login</a>

                    </div>
                    

                        

                </div>
        </div>
    </div>

    </body>
</html>




